{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Payment Information{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <form action="" method="POST">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <input type="submit" value="Submit" class="btn btn-primary">
                    <a class="btn" href="{{ path('civix_front_' ~ app.user.type ~ '_paymentsettings_index') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}