{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Edit announcement{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action="{{ path('civix_front_'~ app.user.type ~ '_announcement_edit', {'id': announcement.id}) }}" method="POST">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a class="btn" href="{{ path('civix_front_' ~ app.user.type ~ '_announcement_index') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}