{{ user.firstName }},

<p>
    Welcome to Powerline, the platform for civic engagement and democracy! This revolutionary system empowers citizens like you to have a voice in any kind of community. Together, we’re going to do a lot to change the world. Are you ready to make your contribution? Great!
</p>

<p>
    A few things to keep in mind:
    <br>• Powerline is designed for mobile - so download the app for Android or iOS today!
    <br>• You’re automatically linked to your elected leaders and you should expect to receive occasional notifications from them
    <br>• You’re also automatically linked to your town, state, and country communities – leverage them to start movements with petitions or micropetitions
</p>

<p>
    For technical questions, please e-mail <a href="mailto:support@powerli.ne">support@powerli.ne</a>. Thanks again for joining Powerline and working with us to strengthen democracy everywhere!
</p>


<p>
    Thanks,<br>
    The Powerline Team
</p>