{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Erro{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <p>There where an error at the registration! <br>
            cannot add to mailgun list</p>
    </div>
</div>
{% endblock content %}
