{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Thanks{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <p>Thank you for registration!</p>
    </div>
</div>
{% endblock content %}
