{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Homepage{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <p>Hello {{ app.user.username }}</p>
    </div>
</div>
{% endblock %}
