<p>
Well, this is exciting! It looks like you have been invited to join {{ group.officialName }} on the Powerline platform by the group’s administrator. Please log in to Powerline on your mobile device to accept or reject this invitation. Powerline is designed for mobile – so make sure you have the latest app for Android or iOS today!
</p>
<p>For technical questions, please e-mail support@powerli.ne. For all other questions, please contact the group manager.</p>

<p>
Thanks, <br>
The Powerline Team
</p>
<p>
PS – Only join groups that you trust. When in doubt, check out the group’s profile page before joining to learn more about them.
</p>