{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Municipal{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <p>Municipal page.</p>
    </div>
</div>
{% endblock content %}
