{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Representative registration{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <form class="form-horizontal" action="{{ path('civix_front_representative_registration') }}" method="POST">
            {{ form_widget(form) }}
            <div class="form-actions">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}
