{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Thanks{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <p>Thank you for activation request {{ name }} system administrator will contact you shortly by your office phone to confirm your identity and issue your login/password for the system.</p>
    </div>
</div>
{% endblock content %}
